body{
  background-color: #028902;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 90vh;
}
.card_list{
  display: flex;
  justify-content: center;
  margin: 40px auto 0 180px;
  height: 282px;
}

.card_container{
  height: 250px;
  width: 180px;
  background-color: #fff;
  background-size: cover;
  position: relative;
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: -160px;
  font-size: 20px;
  text-align: center;
  transition: all .25s ease;
}

.card_container .top{
  position: absolute;
  top: 5px;
  left: 5px;
}

.card_container .top div{
  max-width: 20px;
}

.card_container .top img{
  max-width: 20px;
}

.card_container .center img {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.card_container .bottom {
  position: absolute;
  bottom: 5px;
  right: 5px;
  transform: rotate(-180deg);
}

.card_container .bottom img {
  max-width: 20px;
}

.btn_holder{
  margin-top: 30px;
  text-align: center;
}

.btn_holder button{
  height: 40px;
  width: 100px;
  border: none;
  border: 1px solid black;
  margin-right: 20px;
  border-radius: 10px;
}

.selected_cards_container{
  display: flex;
  justify-content: center;
  height: 300px;
  margin-top: 30px;
}

.selected_cards_container .card_container{
  height: 250px;
  width: 180px;
  background-color: #fff;
  background-size: cover;
  position: relative;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  transition: all .25s ease;
  margin: .2rem;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.msg{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}